{% extends "layout.html" %}
{% block content %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Category</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Amount</th>
              <th scope="col">description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ expense.category }}</td>
              <td>{{ expense.date_expense.date() }}</td>
              <td>{{ expense.date_expense.time().isoformat(timespec='minutes') }}</td>
              <td>{{ expense.amount }}Kč</td>
              <td>{{ expense.description }}</td>
            </tr>
          </tbody>
        </table>
        {% if expense.user == current_user %}
            <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('expense_update', expense_id=expense.id) }}">Edit</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
        {% endif %}

       <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete expense?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('delete_expense', expense_id=expense.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}