{% extends "layout.html" %}
{% block content %}

    {% if current_user.is_authenticated %}
        <h1>Last expenses</h1>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Category</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
              {% for expense in expenses %}
                <tr>
                  <td> <a href="{{ url_for('expense', expense_id=expense.id) }}">{{ expense.category }}</a></td>
                  <td>{{ expense.date_expense.date() }}</td>
                  <td>{{ expense.date_expense.time().isoformat(timespec='minutes') }}</td>
                  <td>{{ expense.amount }}Kč</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
    {% else %}
        <div class="starter-template">
            <h1>Welcome! Please log in</h1>
        </div>
    {% endif %}

{% endblock content %}